@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Prompt:wght@100;200;300;600&display=swap');

body {
	background-color: #0c272a;
	font-family: 'Prompt', sans-serif;
	overflow: hidden;
	/* padding-bottom: env(safe-area-inset-bottom); */
}

@supports (-webkit-touch-callout: none) {
	.bottom-ios {
		/* padding-bottom: 75px; */
		/* padding-bottom: env(safe-area-inset-bottom) !important;
		padding-top: env(safe-area-inset-top) !important; */
	}
}

/* .bottom-ios{
	padding-bottom: env(safe-area-inset-bottom) !important;
} */
